.green {
  background-color: green;
  width: 35px;
  height: 35px;
  margin: auto;
  border-radius: 50%; }

.yellow {
  background-color: yellow;
  width: 35px;
  height: 35px;
  margin: auto;
  border-radius: 50%; }

.red {
  background-color: red;
  width: 35px;
  height: 35px;
  margin: auto;
  border-radius: 50%; }
